QML/train_2k.db.1
QML/train_2k_v2_formation_energy_w_forces.db
.DS_Store
env.yml
quantumrings.conf
requirements.txt
token.txt
**

# Allow all directories (but not their contents)
!*/

# Allow PDF files in any directory
!**/*.pdf
!**/*.tex
!**/*.png
!**/*.jpeg
!**/*.ipynb
# Ensure the .gitignore file itself is not ignored
!.gitignore